@charset "UTF-8";
body { 
	background-color:#F6F6F6;
	 }
#logo {
	color: #47C83E;
	font-size:1.5em;
}
center { margin:10%; } 
table { border-spacing:10px;} /*table { border-collapse:collapse;}*/
th { text-align:left;}
td { 
	padding: 5px 5px 5px 5px; 
	border:1px solid #BDBDBD; 
	background-color:#ffffff; 
	padding-top:10px; 
	padding-bottom:10px;
	}
td:hover { border:1px solid #47C83E; }
input[type=submit]{ 
	background-color:#47C83E; 
	border: 0 solid #47C83E; 
	color:#ffffff; 
	width:400px; 
	padding-top:15px; 
	padding-bottom :15px; 
	font-size:1.5em;
	margin-bottom:20px; 
	font-family:"굴림"; 
	font-size:15pt;
	}
input[type=text],[type=password]{
		 background-color:#ffffff; 
		 border:0 solid black; height:30px;
		 margin-left:5px;
	}
a { text-decoration:none; color:#8C8C8C; font-family:"굴림"; font-size:10pt;}