@charset "UTF-8";
body { margin:0 auto;}
form {margin-top:20px;}
table { border-collapse:collapse; margin-top:10px;  margin:0 auto;}
tr {
	border-top:1px solid #cecece; 
	border-bottom:1px solid #cecece;
}
th { 
	text-align:center; 
	background-color:#F6F6F6;
	height:50px;
	width : 100px;
}
td { 
	padding: 5px 5px 5px 5px;
	font-size:10pt;
	height:20px;
}
a { text-decoration:none;}
a:hover { text-decoration:underline;}

input[type=submit],[type=reset]{ 
	margin-top:20px;
	background-color: #ffffff; 
	border: 1px solid #cecece; 
	width:80px; 
	padding-top:10px; 
	padding-bottom :10px; 
	font-family:"굴림"; 
	}
input[type=text]{
		 background-color:#ffffff; 
		 height:30px;
		 margin-left:5px;
	}
button {
	margin-top:20px;
	background-color: #ffffff; 
	border: 1px solid #cecece; 
	width:80px; 
	padding-top:10px; 
	padding-bottom :10px; 
	font-family:"굴림"; 
}